/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
body {
  width: 100%;
  margin: 0px auto;
  position: relative;
  min-height: 100%;
  top: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

.header-container  {
    max-width: 90%;
}

.txt-ucase-header{
  color: #17a2b8!important;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
}

.txt-info-notes{
  color: #939393 !important;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.txt-diabled-saving{
  color: #939393;
  font-style: italic;
  font-family: serif;
}

.user-agreement-label{
    color: #130b7e;
    font-family: serif;
}

.home-load-spinner {
  border-left: 16px solid #38b5bb;
  border-right: 16px solid #ce7508;
  border-radius: 50%;
  width: 209px;
  height: 197px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 26em auto !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cdk-overlay-container {
    z-index: 10000;
}

.error.mat-snack-bar-container{
  background: #f44336;
  color: white;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  font-family: ui-sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}
.error-input{
  color: #e31414;
  font-style: italic;
}

.success.mat-snack-bar-container{
  background: rgb(40 167 69 / 78%);
  color: white;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  font-family: ui-sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.info.mat-snack-bar-container{
  color: rgb(255 255 255);
  background: #ce7508;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  font-family: ui-sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.failure.mat-snack-bar-container{
  background: red;
  color: white;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  font-family: ui-sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.warning.mat-snack-bar-container{
  color: rgb(201 9 9);
  background: rgb(179 170 195 / 34%);
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  font-family: ui-sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}
