<div class="global-desktop-container w-100">
  <div class="body-container">
    <form [formGroup]="userRegisterForm" class="form example-form container">
      <h3 class="text-center text-info">Register</h3>
      <h6>Please provide info on below fields in order to register the acount.
        <br/>You have the option to choose whether or not you want to register as seller.</h6>

      <!--user reg-->
      <div *ngIf="userRegCurrentFlow == usernameAndPassword_Flow">
        <h4>Register:</h4>
        <app-text-area data-test-id="user_email" placeholder='Email' formControlName="useremail" textType='email' (newData)="onchangeform($event,'useremail')"></app-text-area>
        <mat-error *ngIf="showFCError">{{emailFCError}}</mat-error>
        <app-text-area data-test-id="user_username" placeholder='Username' formControlName="username" textType='text' (newData)="onchangeform($event,'username')"></app-text-area>
        <mat-error *ngIf="showFCError">{{usernameFCError}}</mat-error>
        <div class="form-group">
          <div class="custom-search-glyphicon">
            <i class="pass_show" (click)="passwordShowField($event)" *ngIf="!hide"></i>
            <i class="pass_hide" (click)="passwordShowField($event)" *ngIf="hide"></i>
          </div>
          <label for="password" class="text-info">Password:</label><br>
          <input type="text" placeholder="Password" id="strPassword" [type]="hide ? 'password' : 'text'" class="form-control passwordField"
            formControlName="password" (change)="onchangeform($event,'password')">
        </div>
        <app-animated-button [buttonCollections]="submitStepButton" (ParentEmitter)="submit($event)"></app-animated-button>
      </div>

      <!--user detail reg-->
      <div class="mb-1" *ngIf="userRegCurrentFlow==userDetail_Flow">
        <h4>To create your profile, we need some info:</h4>
        <app-text-area data-test-id="user_firstname" placeholder='Firstname' formControlName="firstname" textType='text' (newData)="onchangeform($event,'firstname')"></app-text-area>
        <mat-error *ngIf="showFCError">{{firstnameFCError}}</mat-error>
        <app-text-area data-test-id="user_middlename" placeholder='Middlename' formControlName="middlename" textType='text' (newData)="onchangeform($event,'middlename')"></app-text-area>
        <app-text-area data-test-id="user_lastname" placeholder='Lastname' formControlName="lastname" textType='text' (newData)="onchangeform($event,'lastname')"></app-text-area>
        <mat-error *ngIf="showFCError">{{lastnameFCError}}</mat-error>

        <section class="example-section">
          <h4>show or hide your phone number on your profile?</h4>
          <div *ngFor="let item of userChoiceOnPhonenumber;  let i = index">
            <mat-checkbox [checked]="item.isChecked === true" (change)="onchangeUserPhoneNumberCheckbox($event,item.id)">{{item.label}}</mat-checkbox>
          </div>
          <app-text-area data-test-id="user_countryCode" placeholder='Country Code' formControlName="usercountryCode" textType=number
            (newData)="onchangeform($event,'usercountryCode')"></app-text-area>
          <mat-error *ngIf="showFCError">{{countryCodeFCError}}</mat-error>
          <input id="tel" class="form-control" placeholder='phonenumber' phoneMask [preValue]="userRegisterForm.value.userphonenumber"
            formControlName="userphonenumber" maxlength="14" (newData)="onchangeform($event,'userphonenumber')" />
        </section>
        <app-animated-button [buttonCollections]="nextStepButton" (ParentEmitter)="nextStep($event)"></app-animated-button>
      </div>

      <!--user ask if seller reg-->
      <div class="mb-1" *ngIf="userRegCurrentFlow == askIfSeller_flow">
        <section class="example-section">
          <h4>Are you also registering this account as Seller?</h4>
          <div *ngFor="let item of isUserASellerCheckbox;  let i = index">
            <mat-checkbox [checked]="item.isChecked === true" (change)="onchangeSellerCheckbox($event,item.id)">{{item.label}}</mat-checkbox>
          </div>
        </section>
        <app-animated-button [buttonCollections]="backStepButton" (ParentEmitter)="backStep($event)"></app-animated-button>
        <app-animated-button [buttonCollections]="nextStepButton" (ParentEmitter)="nextStep($event)"></app-animated-button>
      </div>

      <!--agreement reg-->
      <div *ngIf="userRegCurrentFlow == userAgreement_flow">
        <mat-card>
          <section class="example-section">
            <h4>Agree to terms and conditions</h4>
            <div *ngFor="let item of userAgreementCheckbox;  let i = index">
              <mat-checkbox [checked]="item.isChecked === true" formControlName="isUserAgreementChecked" (change)="onChange_ToUserAgreementCheckbox($event,item.id)">{{item.label}}</mat-checkbox>
              <mat-error *ngIf="showFCError">{{isUserAgreementCheckedFCError}}</mat-error>
            </div>
          </section>
          <app-animated-button [buttonCollections]="backStepButton" (ParentEmitter)="backStep($event)"></app-animated-button>
          <app-animated-button [buttonCollections]="registerButtton" (ParentEmitter)="UpdateTheFlow($event)"></app-animated-button>
        </mat-card>
      </div>

      <!--company detail reg-->
      <div *ngIf="isASeller && userRegCurrentFlow==companyDetail_flow">
        <!--<mat-card class="mb-1">-->
        <h4>Company Details:</h4>
        <app-text-area *ngIf="isASeller" data-test-id="user_company" placeholder='Company Name' formControlName="companyname" textType='text'
          (newData)="onchangeform($event,'companyname')"></app-text-area>
        <mat-error *ngIf="showFCError">{{companyFCError}}</mat-error>
        <app-text-area *ngIf="isASeller" data-test-id="user_address" placeholder='Address' formControlName="address" textType='text'
          (newData)="onchangeform($event,'address')"></app-text-area>
        <mat-error *ngIf="showFCError">{{addressFCError}}</mat-error>
        <app-text-area data-test-id="company_email" placeholder='Company Email' formControlName="companyemail" textType='email' (newData)="onchangeform($event,'companyemail')"></app-text-area>
        <mat-error *ngIf="showFCError">{{companyEmailFCError}}</mat-error>
        <mat-card>
          <section class="example-section">
            <h4>show or hide company phone number on your profile?</h4>
            <div *ngFor="let item of companyChoiceOnPhonenumber;  let i = index">
              <mat-checkbox [checked]="item.isChecked === true" (change)="onchangeCompanyPhoneNumberCheckbox($event,item.id)">{{item.label}}</mat-checkbox>
            </div>
            <app-text-area data-test-id="company_countryCode" placeholder='Country Code' formControlName="companycountryCode" textType=number
              (newData)="onchangeform($event,'companycountryCode')"></app-text-area>
            <mat-error *ngIf="showFCError">{{countryCodeFCError}}</mat-error>
            <input id="tel" class="form-control" placeholder='phonenumber' phoneMask [preValue]="userRegisterForm.value.companyphonenumber"
              formControlName="companyphonenumber" maxlength="14" (newData)="onchangeform($event,'companyphonenumber')" />
          </section>
        </mat-card>
        <!--</mat-card>-->
        <app-animated-button [buttonCollections]="backStepButton" (ParentEmitter)="backStep($event)"></app-animated-button>
        <app-animated-button [buttonCollections]="nextStepButton" (ParentEmitter)="nextStep($event)"></app-animated-button>
      </div>
    </form>
  </div>
</div>
<app-alert *ngIf="showAlertMessages" [messageAlert]="messageAlerts"></app-alert>