<div class="example-container">
  <span *ngIf="textType==='email'" class="btn-group">
    <input placeholder="{{placeholder}}" class="custom-form-control form-input" value="{{selectedValue}}" type="email" (change)="TextChanged($event)" (keyup)="TextChanged($event)" (blur)="onBlurChanged($event)"
    />
    <span class="fa fa-times-circle text-clear-button searchclear" *ngIf="showClearButton && selectedValue !==''" (click)="clearInput($event)"></span>
  </span>

  <span *ngIf="textType==='text'" class="btn-group">
    <input placeholder="{{placeholder}}" class="custom-form-control form-input" value="{{selectedValue}}" type="text" (change)="TextChanged($event)" (keyup)="TextChanged($event)" (blur)="onBlurChanged($event)"
    />
  <span class="fa fa-times-circle text-clear-button searchclear" *ngIf="showClearButton && selectedValue !==''" (click)="clearInput($event)"></span>
  </span>

  <span *ngIf="textType==='password'" class="btn-group">
    <input placeholder="{{placeholder}}" class="custom-form-control form-input" value="{{selectedValue}}" type="{{passwordType}}" (change)="TextChanged($event)" (keyup)="TextChanged($event)" (blur)="onBlurChanged($event)"
    />
  <span class="searchclear">
    <i class="pass_show" (click)="passwordShowField($event)" *ngIf="!hide"></i>
    <i class="pass_hide" (click)="passwordShowField($event)" *ngIf="hide"></i>
    <span class="fa fa-times-circle text-clear-button" *ngIf="showClearButton && selectedValue !==''" (click)="clearInput($event)"></span>
  </span>
  </span>

  <span *ngIf="textType==='number'" class="btn-group">
    <input placeholder="{{placeholder}}" class="custom-form-control form-input" value="{{selectedValue}}" type="number" (change)="TextChanged($event)" (keyup)="TextChanged($event)" (blur)="onBlurChanged($event)"
    />
  <span class="fa fa-times-circle text-clear-button searchclear" *ngIf="showClearButton && selectedValue !==''" (click)="clearInput($event)"></span>
  </span>

  <span *ngIf="textType==='textarea'" class="btn-group">
    <textarea placeholder="{{placeholder}}" class="custom-form-control form-input" value="{{selectedValue}}" (change)="TextChanged($event)" (keyup)="TextChanged($event)" (blur)="onBlurChanged($event)"></textarea>
  <span class="fa fa-times-circle text-clear-button searchclear" *ngIf="showClearButton && selectedValue !==''" (click)="clearInput($event)"></span>
  </span>

  <span *ngIf="textType==='img'" class="btn-group">
    <input placeholder="{{placeholder}}" class="custom-form-control form-input" value="{{selectedValue}}" type="file" accept="image/*" (change)="TextChanged($event)" (keyup)="TextChanged($event)" (blur)="onBlurChanged($event)"
    />
  <span class="fa fa-times-circle text-clear-button searchclear" *ngIf="showClearButton && selectedValue !==''" (click)="clearInput($event)"></span>
  </span>

  <!--<span *ngIf="textType==='tel'">
      <input  placeholder='{{placeholder}}' class="custom-form-control" value="{{selectedValue}}" type="number" 
             phoneMask [preValue]="selectedValue" maxlength="14" 
             (change)="TextChanged($event)" (keyup)="TextChanged($event)"/>
  </span>-->


  <mat-form-field *ngIf="textType==='select'">
    <mat-select placeholder="{{placeholder}}">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>