<div class="animated-button-body">
  <div class="animated-button-container">
    <div *ngFor="let item of buttonCollections;let i=index;">
      <div class="animBtn themeA" (click)="functionalButton(item.buttonId)">
        <div>{{item.buttonLabel}}</div>
        <app-dropdown *ngIf="item.HasDropDown" [dropdownOptions]="item.DropDownList">
        </app-dropdown>
      </div>
      <!--<div *ngIf="item.isDisable" class="animBtn themeA disable">
        <div>{{item.buttonLabel}}</div>
      </div>-->
    </div>
  </div>
  <div class="all-results"></div>
</div>
<app-modal *ngIf="showPopUpModal"></app-modal>