<div class="container">
    <div *ngIf="messageAlert.alertType=='success'" class="alert alert-success alert-dismissible fade in">
        <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
        <strong>{{messageAlert.alertType}}!</strong> {{messageAlert.alertMsg}}
    </div>
    <div *ngIf="messageAlert.alertType=='info'" class="alert alert-info alert-dismissible fade in">
        <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
        <strong>{{messageAlert.alertType}}!</strong> {{messageAlert.alertMsg}}
    </div>
    <div *ngIf="messageAlert.alertType=='warning'" class="alert alert-warning alert-dismissible fade in">
        <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
        <strong>{{messageAlert.alertType}}!</strong> {{messageAlert.alertMsg}}
    </div>
    <div *ngIf="messageAlert.alertType=='error'" class="alert alert-danger alert-dismissible fade in">
        <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
        <strong>{{messageAlert.alertType}}!</strong> {{messageAlert.alertMsg}}
    </div>
</div>